.gallery-container{
    height: 100%;
    padding: 50px 0;
}


.gallery-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.gallery-cont-heading{
    margin: 10px 150px 40px 150px;
}


.work_main{
    height: 100%;
    /* background-color: cornflowerblue; */
    padding: 12vh 0 0 0;
}




.wrapper{
    max-width: 1000px;
    padding: 0 0px;
    /* background-color: chartreuse; */
}

.wrapper .gallery{
    display: flex;
    flex-wrap: wrap;
}

.gallery span{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.gallery .image4{
    width: calc(100% / 3);
    padding: 7px;
    
}

.gallery .image4 img{
    width: 100%;
    height: 220px;
    vertical-align: middle;
    transition: all 0.3s ease;
}

.gallery .image4:hover img{
    transform: scale(1.1);
}



@media (max-width: 1000px){

    .work_main{
        height: 100%;
    }


    .gallery .image4{
        width: calc(100% / 2);
        padding: 7px;
        
    }

}
@media (max-width: 600px){

    .work_main{
        height: 100%;
    }


    .gallery .image4{
        width: 80%;
        padding: 7px;
        margin: 10px 0;
        
    }

    .preview-box{
        
        width: 350px !important;
        
    }

    .gallery-cont-heading{
        margin: 10px auto 5px auto;
        
    }

    .gallery{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.preview-box{
    position: fixed;
    z-index: 1000;
    top: 0;
    max-width:700px;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: #ffffff;
    padding: 0 5px 5px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    opacity: 0;
    pointer-events: none;
}

.preview-box.show2{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;

}

.preview-box .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 15px 12px 10px;
}

.details .title{
    display: flex;
    font-size: 18px;
    font-weight: 800;
}

.details .title p{
    margin: 0 5px;
}

.details .title p.current-img{
    font-weight: 600;
}

.preview-box .img-box{
    display: flex;
    width: 100%;
}

.preview-box .img-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
}

.img-box .slide{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.img-box .slide.prev{
    left: 0;

}

.img-box .slide.next{
    right: 0;

}

.preview-box .details .icon{
    color: #007bff;
    cursor: pointer;
    font-size: 20px;
}


.shadow{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0,0,0,0.4);

}